.tuto_basic {
    flex-grow: 1;
    position: absolute;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 80%;
    top: 10%;
    flex-direction: column;
    transition-property: translate;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out-sine;
}

.tuto_hide {
    translate: 0 150%;
}
